body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top_header {
  display: flex;
  background-color: black;
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0px 60px;
}

li {
  list-style: none;
}

.logo_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_box p {
  columns: white;
  text-decoration: none;
}

.input_box {
  position: relative;
  transition: all 0.4s ease-in-out;
}

.search_icon {
  position: absolute;
  right: 0;
}

.logo {
  font-size: 50px;
  margin-left: 14px;
  margin-right: 21px;
  color: white;
}

.top_header p {
  font-size: 24px;
  letter-spacing: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}


.search_icon {
  color: white;
}

.search_icon:hover {
  color: yellow;
}

input {
  background-color: black;
  color: white;
  border: none;
  border-bottom: 1px solid rgb(147, 144, 144);
  outline: none;
}

.bell {
  color: white;
  margin-right: 23px;
  font-size: 18px;
}

.bell:hover {
  color: yellow;
}

.user {
  font-size: 17px;
  color: white;
}

.user:hover {
  color: yellow;
}

.navigation_bar {
  margin-top: 19px;
  margin-bottom: 12px;
  margin-left: 20px;
}

.navigation_bar Link {
  padding: 10px;
}

.home {
  text-decoration: none;
  padding: 13px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.home:hover:after {
  content: url('');
  width: 80%;
  background-color: black;
  height: 5%;
  position: absolute;
  bottom: 6px;
  left: 7px;
}


.politics {
  text-decoration: none;
  padding: 13px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  position: relative;
  transition: all 0.4s ease-in-out;

}

.politics:hover:after {
  content: url('');
  width: 80%;
  background-color: black;
  height: 5%;
  position: absolute;
  bottom: 7px;
  left: 7px;
}

.politic_list {
  text-decoration: none;
  color: rgb(0, 128, 98);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-wrap: nowrap;
}

.sports {
  text-decoration: none;
  padding: 13px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  position: relative;
  transition: all 0.4s ease-in-out;

}

.sports:hover:after {
  content: url('');
  width: 80%;
  background-color: black;
  height: 5%;
  position: absolute;
  bottom: 6px;
  left: 7px;
}

.business {
  text-decoration: none;
  padding: 13px;
  color: black;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  transition: all 0.4s ease-in-out;

}

.business:hover:after {
  content: url('');
  width: 80%;
  background-color: black;
  height: 5%;
  position: absolute;
  bottom: 6px;
  left: 7px;
}

.footer_bar {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.footer_boxes {
  display: flex;
  padding: 10px;
  margin-top: -22px;
}

.list_box ul li {
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
}

.list_box ul li:hover {
  color: yellow;
}

.logo_box p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 29px;
}

.footer_logo {
  margin-left: 50px;
}

.layout_title {
  font-size: 20px;
  color: gray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 50px;
  line-height: 1cm;
  text-transform: uppercase;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 50px;
}

.article_title {
  text-decoration: none;
  font-size: 11px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(225, 36, 105);
}

.article_image {}

.article_content {
  line-height: 0.6cm;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(26, 21, 21);
  text-wrap: wrap;
}

.mainArticleBox {
  width: 50%;
}

.trending_box {
  width: 50%;
}

.trending_title {
  width: 100%;
  text-wrap: nowrap;
  text-align: right;
  color: gray;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.trending_list_wrapper {
  margin-top: 40px;
  margin-bottom: 130px;
}

.trending_list_wrapper p {
  color: rgb(33, 33, 124);
  margin-top: 10px;
}

.trending_list {
  text-decoration: none;
  color: rgb(0, 128, 98);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-wrap: nowrap;
}

.flex_rough {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rough_article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article_rough_content {
  line-height: 0.7cm;
  width: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*  */

.container_trending {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trending_layout_title {
  color: gray;
  font-size: 26px;
  text-align: center;

}

.rough_trending_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.rough_trending_container p {
  width: 50%;
  line-height: 0.6cm;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container_trending button {
  margin-left: -242px;
  padding: 13px;
  border: none;
  background-color: black;
  color: white;
  width: 130px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.article_rough_button {
  margin-left: 40px;
  padding: 13px;
  border: none;
  background-color: black;
  color: white;
  width: 130px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}